/* ===========================
   ======= Body style ======== 
   =========================== */

.contact {
	width: 100%;
    height: 100%;
    position: fixed;
    margin: 200px 200px 200px 700px;
    padding: 0;
   
    
}
.frame {
	width: 22%;
    height: 40%;
    background-color: transparent;
    position: fixed;
    padding: 15px 0 0 0;
    overflow-y: scroll;
	font-size: 13px;
	font-style: Verdana, Tahoma, sans-serif;
	overflow:hidden;
	 z-index:3;
}

.contact h2 {
	margin-bottom: 20px;
	color: #474E69;
}

/* ===========================
   ====== Contact Form ======= 
   =========================== */

input, textarea {
	padding: 10px;
	border: 1px solid #E5E5E5;
	width: 200px;
	color: #999999;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;		
}

textarea {
	width: 400px;
	height: 150px;
	max-width: 400px;
	line-height: 18px;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	border-color: 1px solid #C9C9C9;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;	
}

.form label {
	margin-left: 10px;
	color: #999999;
}

/* ===========================
   ====== Submit Button ====== 
   =========================== */

.submit input {
	width: 100px; 
	height: 40px;
	background-color: #474E69; 
	color: #FFF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;		
}
.close {
    color: #aaa;
    float:right;
    margin-right: 77%;
    font-size: 20px;
    font-weight: bold;
    z-index:4;
}

    .close:focus, .close:hover {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }